{% if post.authors %}
  {% assign authors = post.authors %}
{% elsif page.authors %}
  {% assign authors = page.authors %}
{% endif %}

by
{% if authors.size > 0 %}
  {% for member in site.members %} 
     {% if authors contains member.short %}
        {% if member.site %}
          {% if member.avatar %}
             <span class="byline author vcard">
              <img src='/images/{{ member.avatar }}.jpg' style='width: 24px;height: 24px;margin-right: 2px;margin-left: 2px;border:0;border-radius: 100%;position: absolute;'/> 
              <a class="fn" href="{{ member.site }}" style='margin-left:32px;'>{{ member.name }}</a>
             </span>
          {% else %}
              <span class="byline author vcard">
              <a class="fn" href="{{ member.site }}">{{ member.name }}</a>
             </span>
          {% endif %}
        {% else %}
          <span class="byline author vcard">by <span class="fn">{{ member.name }}</span></span>
        {% endif %}
     {% endif %}
  {% endfor %}
{% else %}
  <span class="byline author vcard">
    <img src='/images/{{ site.team.avatar }}.jpg' style='width: 24px;height: 24px;margin-right: 2px;margin-left: 2px;border:0;border-radius: 100%;position: absolute;'/> 
    <a class="fn" href="{{ site.team.site }}" style='margin-left:32px;'>{{ site.team.name }}</a>
  </span>
{% endif %}
